@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-hind-siliguri: "Hind Siliguri", sans-serif;
}

body {
  font-family: var(--font-hind-siliguri), sans-serif;
  background: #fff;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* gap-2 */
  padding: 0.5rem; /* p-2 */
  border-radius: 0.5rem; /* rounded-lg */
  transition: all 0.2s ease; /* transition-all */
}
.sidebar-item:hover {
  background-color: #f3f4f6; /* gray-100 */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); /* shadow-md */
}